<form action="/new-task" method="POST" autocomplete="off">

    <div class="form-group formDiv pt-2">
        <input required class="form-control col pt-2 pb-2 mx-4" type="text"
            name="taskName" value=""
            id="taskName" placeholder="Add a Task . . . ">
        <button class="btn btn-primary px-3">
            Add Task
        </button>
    </div>

</form>