<!-- include header ejs -->
<%-include('include/_header')%>
    <!-- / include header -->


    <!-- Main site -->
    <main id="site-main" class="pad">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All
                        Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h3 class="text-dark">New User</h3>
                <span class="text-light">Use the below Form to Create a New
                    Account</span>
            </div>
            <!-- Add User Form  -->
            <%-include('include/_form')%>
                <!-- /Add User Form  -->

            </div>
        </main>
        <!-- /Main site -->

        <!-- include footer ejs -->
        <%-include('include/_footer')%>
            <!-- / include footer -->